body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #25c0ce;
    color: orange; /* Set the text color to white for better contrast */
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500vh;
    padding: 20px;
}
.photo {
    width: 70%;
    text-align: center;
}
.photo img {
    width: 250%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Light shadow for contrast */
}
.about {
    width: 50%;
    margin-left: 20px;
    background-color: #333; /* Dark gray background for the content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Light shadow for contrast */
}
h1 {
    font-size: 20em;
    margin-bottom: 10px;
}
p {
    line-height: 1.6;
}